.env
.docker-local/
*.log
client_secret*.json
.vscode/
.idea/
**/build/
**.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Sensitive Keys
*.json
!google-services.json
chennai-city-rides-admin-firebase-adminsdk-*.json
client_secret_*.json

# Supabase CLI
supabase/.temp/
